.app {
  background: rgb(92, 91, 91);
  height: 100vh;
}

.list-title {
  text-align: center;
  font-size: 50px;
  margin: 7px;
  color: rgb(90, 89, 89);
}

.todo-list {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #e8e8e8;
  border-radius: 4px;
  width: 600px;
  max-width: 600px;
  min-height: 800px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
  font-size: x-large;
}

.input {
  width: 98.5%;
  height: 37px;
  position: absolute;
  bottom: 0;
  margin-bottom: 2px;
  font-size: x-large;
}

button {
  color: #fff !important;
  text-decoration: none;
  background: grey;
  padding: 10px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  display: inline;
  border: none;
  transition: all 0.4s ease 0s;
}

button:hover {
  cursor: pointer;
  background: #434343;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
